.home {
  overflow-x: hidden;
  > .search {
    > div {
      margin-top: 40px;
      > .videos {
        display: flex;
        flex-wrap: wrap;
        > div {
          overflow: hidden;
          margin: 20px;
          > a {
            > div {
              > img {
                width: 300px;
              }
            }
          }
        }
      }
    }
  }
}