@import "variables";

.upload {
  margin: 20px 0;
  > div {
    display: flex;
    flex-direction: column;
    > input {
      display: none;
    }
    > button {
      background-color: transparent;
      border: 1px solid $gray-5;
      > span {
        text-transform: none;
        color: $black;
        font-weight: 400;
      }
      > svg {
        color: $black;
      }
    }
  }
  > img, >video {
    width: 100%;
    margin: 20px 0;
  }
}