@import "variables";

.carousel {
  display: flex;
	width: calc(100% + 16px);
  flex-direction: column;
  > div {
    gap: 20px;
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .empty {
    padding: 20px 0;
    font-size: 14px;
  }
}
