@import "variables";

.header {
	align-items: center;
	background-color: $menu-bg;
	display: flex;
	height: 72px;
	justify-content: space-between;
	padding: 16px 32px 16px 24px;
	z-index: 10;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	.overlay {
		animation: header-overlay-module__ShowOverlay;
		animation-delay: 0.45s;
		animation-duration: 0.3s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		background: rgba(0, 0, 0, 0.7);
		bottom: 0;
		left: 0;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9;
	}

	.left {
		display: flex;
		align-items: center;
		justify-content: center;
		> .burgerMenu {
			position: fixed;
			height: 100%;
			width: 260px;
			background-color: $menu-bg;
			top: 72px;
			left: 0;
			transform: translateX(-100%);
			z-index: 10;
			transition: transform 0.2s;
			overflow-y: scroll;

			> hr {
				background-color: $search-border-color;
				height: 1px;
				width: 100%;
				border: none;
				margin: 16px 0;
			}

			&::-webkit-scrollbar {
				width: 15px;

				&-track {
					background-color: transparent;
					background-clip: padding-box;
				}
				&-thumb {
					scroll-padding-top: 20px;
					background-color: #29333d;
					border-radius: 40px;
					border: 4px solid $menu-bg;
				}
			}

			> a {
				align-items: center;
				border-radius: 0 6px 6px 0;
				color: #fff;
				cursor: pointer;
				display: flex;
				font-size: 14px;
				height: 40px;
				line-height: 20px;
				margin-bottom: 0;
				min-width: 20px;
				padding-left: 24px;
				&.active,
				&:hover {
					background-color: #29333d;
				}
				> svg,
				img {
					align-items: center;
					display: flex;
					height: 20px;
					justify-content: center;
					border-radius: 6px;
					width: 20px;
					filter: brightness(0)
						invert(1);
				}
				.userImg {
					filter: none;
				}
				> span {
					font-weight: 400;
					margin-left: 24px;
					max-width: 164px;
				}
			}

			&.open {
				transform: translateX(0%);
			}
		}

		> .overlay {
			height: calc(100% - 72px);
			bottom: 0;
			left: 0;
			right: 0;
			top: 72px;
			animation: freyja_char-menu__PenShowOverlay__df4jR;
			animation-duration: 0.3s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-in-out;
			pointer-events: auto;
		}

		> .burger {
			> svg {
				cursor: pointer;
				width: 24px;
				height: 24px;
			}
		}

		> .logo {
			margin-left: 24px;
			margin-right: 41px;
			> a {
				> svg {
					height: 40px;
					width: 148px;
				}
			}
		}
	}
	> .search {
		position: relative;
		width: 470px;
		> .form {
			z-index: 10;
			position: relative;

			> .field {
				background: $menu-bg;
				border: 1px solid
					$search-border-color;
				align-items: center;
				border-radius: 6px;
				cursor: text;
				display: flex;
				height: 40px;
				padding: 8px 16px;
				position: relative;
				transition: color 0.12s ease-out;
				width: 100%;
				position: relative;

				> svg {
					width: 24px;
					height: 24px;
				}

				> input {
					background: transparent;
					border: 1px solid transparent;
					font-size: 14px;
					line-height: 143%;
					margin-right: 25px;
					padding: 9px 10px 8px 11.38px;
					color: #fff;
					width: 100%;
				}

				> .searchList {
					position: absolute;
					bottom: 0;
					overflow-y: scroll;
					height: max-content;
					max-height: 600px;
					transform: translateY(105%);
					border-radius: 10px;
					background-color: $menu-bg;
					width: 100%;
					left: 0;

					&::-webkit-scrollbar {
						display: block;

						&-thumb {
							background-color: $bg-color;
							border: 4px solid $menu-bg;
							border-radius: 40px;
						}
					}

					> a {
						cursor: pointer;
						transition: background-color
							0.2s ease;
						padding: 20px 27px;
						display: block;
						color: #fff;
						width: 100%;
						&:hover {
							background-color: #3d4a58;
						}

						&.active {
							background-color: #3d4a58;
						}

						> span {
							color: $button-bg;
							font-weight: 600;
						}
					}
				}

				&.focus {
					background: $search-border-color;
				}
			}
		}
	}

	> .right {
		display: flex;
		> .menu {
			display: flex;
			align-items: center;
			width: 192px;
			justify-content: space-around;
			> div {
				position: relative;
				svg {
					width: 24px;
					height: 24px;
					cursor: pointer;

					&:active {
						transform: scale(0.8);
					}
				}

				> div {
					> .unread {
						position: absolute;
						color: #fff;
						width: 18px;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 18px;
						border-radius: 50%;
						top: -10px;
						right: -10px;
						background-color: $button-bg;
					}
				}
				> .notificationMenu {
					background-color: $search-border-color;
					border-radius: 6px;
					box-shadow: 0 4px 34px 6px
						rgba(0, 0, 0, 0.25);
					display: flex;
					flex-direction: column;
					height: 650.55px;
					position: absolute;
					right: 0;
					top: 42px;
					user-select: none;
					width: 451px;
					z-index: 50;
					visibility: hidden;
					pointer-events: none;
					transition: all 0.2s ease-out;

					> .heading {
						align-items: center;
						display: flex;
						flex-shrink: 0;
						justify-content: space-between;
						max-height: 48px;
						padding: 9px 7px 9px 20px;
						> p {
							color: #fff;
							font-size: 14px;
							font-weight: 600;
							line-height: 146%;
						}
					}

					> .notifs {
						> a {
							display: block;
							padding: 20px 10px;
							color: #fff;
							> div {
								display: flex;
								gap: 10px;
								> svg {
									color: $button-bg;
									width: 15px;
									height: 15px;
								}
							}
						}
					}

					> .content {
						display: flex;
						width: 100%;
						height: 100%;
						align-items: center;
						justify-content: center;
						flex-direction: column;

						span {
							text-align: center;
						}

						.headingEmpty {
							font-size: 14px;
							font-weight: 600;
							margin-bottom: 10px;
						}

						> span:last-child {
							font-size: 13px;
							line-height: 146%;
							margin-bottom: 20px;
						}
					}

					&.open {
						animation: freyja_char-menu__PenShowOverlay__df4jR;
						animation-duration: 0.3s;
						animation-fill-mode: forwards;
						animation-timing-function: ease-in-out;
						pointer-events: all;
					}
				}
			}
		}
		> .btn {
			> a {
				> img {
					border-radius: 50%;
				}
			}
			> .overlay {
				z-index: 11;
				animation-delay: 0s;
				animation-duration: 0.2s;
			}
			> .authModal {
				position: fixed;
				z-index: 12;
				top: 50%;
				left: 50%;
				transform: translate(
					-50%,
					-50%
				);
				display: none;
				flex-direction: column;
				align-items: center;
				background: #29333d;
				justify-content: center;
				width: 404px;
				border-radius: 16px;

				&.open {
					display: flex;
				}

				> .heading {
					display: flex;
					justify-content: space-between;
					margin-bottom: 30px;
					> h4 {
						margin-top: 54px;
						max-width: 324px;
						font-size: 24px;
						font-weight: 600;
						line-height: 32px;
						color: #fff;
					}
					> svg {
						width: 24px;
						height: 24px;
						position: absolute;
						top: 16px;
						right: 24px;
						cursor: pointer;
					}
				}
				> form {
					padding: 0px 40px 32px;
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 16px;
					> div {
						width: 100%;
						display: flex;
						flex-direction: column;
						> span:first-child {
							color: #fff;
							display: block;
							font-size: 12px;
							font-weight: 600;
							line-height: 18px;
							margin: 0px 0px 4px;
						}
						> input {
							color: #fff;
							display: block;
							font-size: 12px;
							line-height: 18px;
							padding: 10px 11px;
							width: 100%;
							background: $menu-bg;
							border: 1px solid #3d4a58;
							border-radius: 6px;
							overflow: hidden;
							position: relative;
						}
						> span:last-child {
							color: red;
							font-size: 10px;
							font-weight: 600;
							line-height: 16px;
							margin-top: 4px;
						}
					}
				}
				> .other {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					width: 100%;
					margin-top: 32px;
					> p {
						width: 100%;
						font-size: 14px;
						line-height: 18px;
						font-weight: 600;
						text-align: center;
						color: #fff;
						margin-bottom: 16px;
					}
					> div {
						display: flex;
						gap: 16px;
						> div {
							cursor: pointer;
							> span {
								> button {
									background-color: transparent;
									border: none;
									font-family: inherit;
									font-weight: normal;
									padding: 0;
								}
							}
						}
					}
				}

				> .otherAuth {
					font-size: 14px;
					line-height: 20px;
					margin-top: 35px;
					margin-bottom: 32px;
					> span {
						color: $button-bg;
						cursor: pointer;
					}
				}
			}
		}
	}
}

@keyframes header-overlay-module__ShowOverlay {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes freyja_char-menu__PenShowOverlay__df4jR {
	0% {
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}

	100% {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
	}
}
