@import "variables";

.tagInput {
	width: 100%;
	margin: 20px 0;
	.input {
		background-color: transparent;
		color: $black;
	}
	.tag {
		background-color: $primary-2;
		font-size: 12px !important;
		> button {
			color: #fff !important;
			&:hover {
			}
		}
	}
	> span {
		color: red;
		font-size: 10px;
		font-weight: 600;
		line-height: 16px;
		margin-top: 4px;
	}
}
