@import "variables";

.wrapper {
	display: flex;
	flex-direction: column;
	color: $black;
	.editorWrapper {
		width: 100%;
		border: 1px solid $gray-5;
		border-radius: 6px;
	}
	.toolbar {
		z-index: 10;
		display: flex;
		justify-content: space-between;
		box-shadow: none;
		border-bottom: 1px solid $gray-5 !important;
		div {
			background-color: $white-1;
			outline: none;
			box-shadow: none;
			z-index: 2;
			div {
				z-index: 5;
				background-color: $white-1;
			}
		}
	}
	.editor {
		padding: 0 11px;
		min-height: 100px;
		}
	.error {
		color: #f00;
	}
}
