.TextEditor_toolbar__I8AJp {
	background-color: transparent !important;
}

.rdw-inline-wrapper {
	background-color: transparent !important;
	color: #fff !important;

	img {
		filter: brightness(0) invert(1) !important;
	}

	.rdw-option-wrapper {
		background-color: transparent !important;
		color: #fff !important;
		border: none !important;
	}
}

.TextEditor_toolbar__I8AJp {
	border: none !important;
}

.rdw-emoji-modal {
	&::-webkit-scrollbar {
		display: none;
	}
}

.rdw-block-wrapper {
	background-color: transparent !important;
	> div {
		background-color: transparent !important;
		color: #fff !important;
		border: none !important;

		ul {
			background-color: $button-bg;
			border: none !important;
			z-index: 1000 !important;
			position: relative !important;
			background: $button-bg !important;

			&:hover {
				background-color: $button-bg;

				box-shadow: none !important;
			}

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}

.rdw-dropdown-optionwrapper {
	background-color: $button-bg;
	border: none !important;
	z-index: 1000 !important;
	position: relative !important;
	background: $button-bg !important;
	color: #fff !important;
	&:hover {
		background-color: $button-bg;

		box-shadow: none !important;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	> li {
		color: #fff !important;
	}
}

.rdw-colorpicker-modal {
	z-index: 1001 !important;

	> span {
		z-index: 1002 !important;
		&::-webkit-scrollbar {
			display: none;
		}
		> div {
			z-index: 1003 !important;
			> span {
				z-index: 1004 !important;
			}
		}
	}
}

.rdw-editor-main {
	z-index: 0 !important;
	> div {
		z-index: 0 !important;
	}
}

.rdw-dropdownoption-active,
.rdw-dropdownoption-highlighted {
	background: $button-bg !important;
	z-index: 1000 !important;
}

.rdw-fontsize-wrapper {
	background: transparent !important;
	> div {
		background-color: transparent !important;
		color: #fff;
		border: none !important;
		> a {
			display: flex !important;
			align-items: center !important;
			> div {
				background-color: transparent !important;
				border: 5px solid transparent;
				border-top-color: #fff;
				border-bottom: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative !important;
				top: 0;
				right: 0;
				margin-left: 8px;
			}
		}
		> ul {
			color: $button-bg !important;
		}
	}
}

.rdw-dropdown-selectedtext {
	width: max-content !important;
}

.rdw-fontfamily-wrapper {
	background: transparent !important;
	> div {
		background: transparent !important;
		border: none !important;
		> a {
			> div {
				background-color: transparent !important;
				border: 5px solid transparent;
				border-top-color: #fff;
				border-bottom: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative !important;
				top: 0;
				right: 0;
				margin-left: 8px;
			}
		}
	}
}

.rdw-colorpicker-wrapper,
.rdw-link-wrapper,
.rdw-embedded-wrapper,
.rdw-emoji-wrapper,
.rdw-image-wrapper,
.rdw-remove-wrapper,
.rdw-history-wrapper,
.rdw-text-align-wrapper,
.rdw-list-wrapper {
	background: transparent !important;
	z-index: 1 !important;
	.rdw-option-wrapper {
		background-color: transparent !important;
		border: none !important;

		> img {
			filter: brightness(0) invert(1);
		}
	}
}

.rdw-dropdown-selectedtext {
	> .rdw-dropdown-carettoclose {
		background-color: transparent !important;
		border: 5px solid transparent;
		border-top-color: #fff !important;
		border-bottom: 0;
		position: relative !important;
		top: 0;
		right: 0;
		margin-left: 8px;
	}
}

.rdw-dropdown-carettoopen {
	border-top-color: #fff !important;
  top: 40%;
  right: -10px !important;
	background-color: transparent !important;
}
